    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Montserrat;
        text-decoration: none;
    }
a{
    text-decoration: none;
}

    .container{
        display: grid;
        grid-template-columns: 20vw 80vw;
        grid-template-rows: 5vw 75vw 20vw;
        grid-template-areas: "header header" "nav main" "footer footer";
    }
    header{
        grid-area: header;
        background-color: #BD69FF;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    nav{
        grid-area: nav;
        background-color: #F3E6FE;
        padding-left: 2vw;
        padding-top: 3vw;
    }
    main{
        grid-area: main;
        padding-top: 2vw;
    }
    footer{
        grid-area: footer;
        background-color: #BD69FF;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .search{
        width: 35vw;
        border-radius: 2px;
        border: 0;
        height: 2vw;
        padding-left: 0.5vw;
    }
    .login{
        margin-right: 1vw;
    }
    .logo{
        width: 15vw;
    }
    ul{
        list-style: none;
        margin-bottom: 1.5vw;
    }
    .titulolista{
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
    }
    .nav{
        font-size: 17px;
        font-style: italic;
        font-weight: 400;
        text-decoration: none;
        color: black;
    }
    .title{
        font-size: 48px;
        font-weight: 800;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .titulo{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .linha{
        width: 20vw;
        height: 1px;
        background-color: black;
    }
    .nav:hover{
        font-weight: 500;
    }
    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .pfooter{
        font-weight: 700;
        font-size: 24px;
        color: white;
        margin-bottom: 1vw;
    }
    .icon{
        height: 1.5vw;
        margin: 0.5vw;
    }
    .icons{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    @media (max-width: 900px){
        .container{
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: 5vw auto 75vw 20vw;
            grid-template-areas: "header" "nav" "main" "footer";
        }
        header{
            grid-area: header;
            background-color: #BD69FF;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }
        nav{
            grid-area: nav;
            background-color: #F3E6FE;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }
        main{
            grid-area: main;
            padding-top: 2vw;
        }
        footer{
            grid-area: footer;
            background-color: #BD69FF;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
        }
        .search{
            width: 35vw;
            border-radius: 2px;
            border: 0;
            height: 2vw;
            padding-left: 0.5vw;
        }
        .login{
            margin-right: 1vw;
        }
        .logo{
            width: 15vw;
        }
        ul{
            list-style: none;
            margin-bottom: 1.5vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        .titulolista{
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            margin-right: 2vw;
        }
        .nav{
            font-size: 17px;
            font-style: italic;
            font-weight: 400;
            text-decoration: none;
            color: black;
            margin-right: 1.5vw;
        }
        .title{
            font-size: 48px;
            font-weight: 800;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .titulo{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
        }
        .linha{
            width: 20vw;
            height: 1px;
            background-color: black;
        }
        .nav:hover{
            font-weight: 500;
        }
        .footer{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
        .pfooter{
            font-weight: 700;
            font-size: 24px;
            color: white;
            margin-bottom: 1vw;
        }
        .icon{
            height: 1.5vw;
            margin: 0.5vw;
        }
        .icons{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
        }
    }
