@import url('../style.css');

label {
    font-size: 24px;
    font-weight: 600;
    width: 20vw;
    margin: auto;
}

.campo {
    width: 505px;
    margin: auto;
    height: 55px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.botao{
    width: 505px;
    margin: auto;
    height: 55px;
    background-color: #BD69FF;
    border: 0;
    border-radius: 2px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
}
.botao a{
    font-size: 22px;
    font-weight: 600;
    color: white;
    font-style: normal;
}
.contbotao{
    display: flex;
    justify-content: center;
}
