@import url('../style.css');
.produto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1.5vw;
}
.produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nome{
    font-weight: 600;
    font-size: 1vw;
}
.preco{
    font-weight: 700;
    font-size: 2vw;
}
.botcom{
    width: 10vw;
    height: 2vw;
    background-color: #bd69ff;
    justify-self: center;
}
figure{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}
.compra{
    color: white;
    font-weight: 800;
    font-size: 1.5vw;
}