@import url('../style.css');
.produto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1.5vw;
    text-align: center;
}
.produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nome{
    font-weight: 600;
    font-size: 1vw;
}
.preco{
    font-weight: 700;
    font-size: 2vw;
}
.botcom{
    width: 15vw;
    height: 2.5vw;
    background-color: #bd69ff;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    margin-top: 1vw;
    text-align: center;
}
figure{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}
.compra{
    color: white;
    font-weight: 800;
    font-size: 1.3vw;
    font-style: normal;
    text-decoration: none;
}
.select{
    font-weight: 600;
}
.pagina{
    border-right: 0.5vw solid black;
}
.pagina a{
    font-weight: 500;
    font-size: 20px;
}
@media (max-width:900px){
    .pagina{
        border: 0;
        margin-right: 2.5px; 
    }
}
